body{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    /* flex-wrap: wrap; */
    color: white !important;       /* !important prevent bootstrap override */
    background-color: black !important;
}

#box0{
    width: 500px; 
    border: 1px solid; 
    border-color: rgba(13, 165, 91, 0.573); 
    border-radius: 10px; padding: 10px;
}

#box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 12px;
    padding-bottom: 20px;
    text-align: center;
    /* All these work with flex, must apply flex */
}

.container{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#box2{
    width: 400px;
    margin: 15px;
    margin-left: 70px;
    padding-right: 10px;
}

#box3{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* letter-spacing: 0.2px; */
}

#map iframe {
    border-radius: 5px;
}


/* Screen Responsive */
@media (max-width: 500px) {
    body {
        padding: 10px;
    }

    #box0 {
        width: 100%;
        padding: 10px;
        margin: 0;
    }

    #box1, #box2, #box3 {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }

    .container {
        row-gap: 5px;
    }
}

@media (max-width: 370px){
    #userInputArea {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #userInputArea 
    button {
        width: 70px;    
    }
    #userInputArea 
    input {
        width: auto;    
    }
}

